# Configuration
APP_PORT=8082
# PostgreSQL Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
# JWT Configuration
JWT_SECRET=change-me-in-prod
JWT_EXPIRY=1d
# Redis Configuration
REDIS_URL=redis://localhost:6379
