NODE_ENV=development
APP_PORT=3000

DATABASE_URL=postgres://postgres:postgres@localhost:5433/nest_db

REDIS_URL=redis://localhost:6379

APP_JWT_ACCESS_SECRET=...
APP_JWT_ACCESS_EXPIRES_IN=15m
APP_JWT_REFRESH_SECRET=...
APP_JWT_REFRESH_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=begmamatovibrohim@gmail.com
MAIL_PASSWORD=
MAIL_FROM="NestApp <begmamatovibrohim@gmail.com>"